body{
    background-color: rgb(0, 106, 199);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}


h1{
    font-family: new-spirit-condensed,serif;
    font-weight: 400;
    font-style: normal;
    padding-left: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 100px;
}

#test {
    font-family: p22-mackinac-pro,serif;
    text-transform: none;
    font-weight: 400;
    font-style: italic;
}

h2{
    font-size: 26px;
    font-family: p22-mackinac-pro,serif;
    text-transform: none;
    font-weight: 400;
    font-style: italic;
    padding-left: 20px;
}

hr{
    border-top:  white;
}

p{
    padding-left: 30px;
    width: 1000px;
    font-family: new-spirit-condensed,serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
}

a{
    color: white;
    font-family: new-spirit-condensed,serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    font-size: 15px;
}

a:hover{
    color: rgb(26, 13, 169);
}



footer>a{
    padding-left:10px;
}

.spacer{
    height: 30px;
}

.list{
    margin-left: 25px;
}

img{
    padding-left: 15px;
}