#col {
    background-color: pink;
    color: white;
    /* font-size: ; */
    float: right;
    width: 350px;
    height: 1000px;
    font-family: trade-gothic-next, sans-serif;
    font-weight: 400;
    font-style: normal;
}

#spacer {
    height: 150px;
}

#col p {
    text-align: center;
}

#col img {
    display: block;
    margin: auto;
}

.grid-item {
    width: 350px;
    padding: 10px;
    /* margin: 10px; */
    /* margin-left: -5px; */
}

.grid-item--width2 {
    width: 350px;
    padding: 10px;
    height: 1000px;
}


[class*='imghvr-shutter-in-vert'] {
    background-color: white;
    text-align: left;
    font-family: trade-gothic-next, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
}

[class*='imghvr-shutter-in-vert'] > figcaption {
    background-color: pink;
    color: white;
  
}