#frame {
    padding: 50px;
    height: 550px;
    width: 1000px;
    border: 1px solid black;
}

h1 {
    font-family: acumin-pro-semi-condensed, sans-serif;
    font-weight: 700;
    font-style: normal;
    text-transform: uppercase;
    font-size: 95px;
    margin-top: -10px;
}

p {
    font-family: acumin-pro-semi-condensed, sans-serif;
    font-weight: 400;
    font-style: normal;
}

.dropdown{
    margin-top: -1000px;
   
  /* how do i shift this up even further? */
}

#imageHolder{
    margin-left: 1150px;
    margin-top: -705px;
}

/* ask about styling the dropdowns itself — do i need a different API or library for this? */

/* testing stuff here */
#drag-1, #drag-2 {
    width: 25%;
    min-height: 6.5em;
    margin: 1rem 0 0 1rem;
    background-color: #29e;
    color: white;
    border-radius: 0.75em;
    padding: 4%;
    touch-action: none;
    user-select: none;
    transform: translate(0px, 0px);
  }