body {
    max-width: 1366px;
    max-height: 768px;
    font-family: houschka-rounded,sans-serif;
    font-weight: 700;
    font-style: normal;
    color:#999797;
    padding: 50px;
    line-height: 1.5em;
}

h1{
    text-transform: uppercase;
    font-size: 100px;
    margin-left: -40px;
    margin-top: -15px;
    color: dimgray;
}

h2{
    background-color: #F5D64D;
    color: white;
    width: 300px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 10px;
    text-align: center;
    margin-left: 60px;
    margin-top: 15px;
    font-size: 20px;
}

h3{
    margin-left: -50px;
    margin-top: -130px;
    text-transform: uppercase;
}
p{
    width: 500px;
    font-size: 12px;
    line-height: 1.25em;
    margin-left: -30px;
    margin-top: -5px;
}

#instructions{
    /* background-color: rgb(252, 203, 186); */
    margin-left: 700px;
    margin-top: -150px;
}

div {
    padding: 20px;
}



#score1{
    font-size: 40px;
    margin-left: 700px;
    margin-top: -350px;

}
#score2{
    font-size: 40px;
    margin-left: 950px;
    margin-top:-140px;
   
}

img{
    margin-top: -100px;
    margin-left: -90px;
    padding-right: 40px;
}
#rollAction{
    font-size: 16px;
    margin-top: -70px;
    margin-left: -45px;
    padding-bottom: 80px;
}

#rollAction2{
    font-size: 16px;
    margin-top: -70px;
    margin-left: -45px;
    padding-bottom: 80px;
}

a{
    color: #F5D64D;
    padding: 10px;
}

a:first-child{
margin-left: -35px;
}

a:hover{
    color: gray;
}
footer{
    margin-top: -50px;
}
#winner{
    margin-top: -60px;
    font-size: 30px;
}


/* buttons styles */
#quit{
    background-color: orange;
}

#roll  {
    background-color: rgb(244, 160, 145);
}

button{
    background-color: rgb(186, 186, 186);
    font-family: houschka-rounded,sans-serif;
    font-weight: 700;
    font-style: normal;
    color: white;
    text-transform: uppercase;
    border-radius: 10px;
    margin-left: -53px;
    margin-top: -10px;
    padding: 15px;
    border: none;

    
}

button:hover{
    box-shadow: 7px 7px 0px -2px rgba(0,0,0,0.1);
}

#rollagain{
    background-color: rgb(244, 160, 145);
}
#pass{
    background-color: gainsboro;
    margin-left: 20px;
}